<p-panel header="UPDATE PROFILE" >

    <ng-template pTemplate="icons">

        <div class="p-button-rounded">
            <button pButton pRipple type="button" [routerLink]="['/login']" label="save"
            class="p-button-rounded p-button-info"></button>


            <button pButton pRipple type="button" [routerLink]="['/navbar']" label="Back"
            class="p-button-rounded p-button-info"></button>
        </div>
    </ng-template>
    <form formgroup="updateform">
        <div class="formgrid grid m-5">

                <div class="col-4 w-100% p-4">
                    <span>EmployeeID</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="EmployeeID">
                    </div>
                </div>

                <div class="col-4 w-100%  p-4">
                    <span>FirstName</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text"  pInputText placeholder="FirstName">
                    </div>
                </div>

                <div class="col-4 w-100% p-4">
                    <span>LastName</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="LastName" readonly="readonly">
                    </div>
                </div>




                <div class="col-4  w-100% p-4">
                    <span>Email</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="Email">
                    </div>
                </div>

                <div class="col-4 w-100% p-4">
                    <span>PanNumber</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="PanNumber">
                    </div>
                </div>

                <div class="col-4  w-100% p-4">
                    <span>DesignationID</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="DesignationID">
                    </div>
                </div>





                <div class="col-4  w-100% p-4">
                    <span>ShiftId</span>
                    <div class="p-inputgroup" >
                        <input class="form-control" type="text" pInputText placeholder="ShiftId">
                    </div>
                </div>
                <div class="col-4  w-100% p-4">
                    <span>DOJ</span>
                    <div class="p-inputgroup">
                        <input class="form-control" type="text" pInputText placeholder="DOJ">
                    </div>
                </div>
                <div class="col-4 w-100% p-5 mt-5">
                    <div class="p-field-checkbox">
                        <p-checkbox name="group1" value=""  inputId="ny"></p-checkbox>
                        <label>IsActive</label>
                    </div>
                </div>
              </div>



    </form>


</p-panel>
