<p-panel>
  <ng-template pTemplate="header">
    <div  class="col -md-6" style="text-align:left" >
    <strong>PAY SLIP </strong>
  </div>
     
  </ng-template> 
  <div class="col-12 md:col-4">
    <h3 >Select Month & Year<span class="required">*</span></h3>
    
    <p-calendar [(ngModel)]="date" view="month" dateFormat="mm/yy" [yearNavigator]="true" placeholder="MM/YYYY" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker"></p-calendar>     
    <br/>
    <br/>
    <button pButton  type="button" label="Submit" (click)="Alert()" class=" p-button-sm p-button-success "></button>
    </div>
</p-panel>
