
<div class="form-group create-container">
    <div style="padding-bottom: 20px;">
        <label >CREATE DESIGNATION</label>
        <button class="btn btn-primary" style="float: right; font-size: smaller;"><i class="pi pi-arrow-left icon"></i>BACK</button>
        <button class="btn btn-primary" style="float: right;margin-right:5px; font-size: smaller;"><i class="pi pi-check icon"></i>SAVE</button>
    </div>
    
    <form class="form-control ">
        <div >
            <label for="designation-input" class="input-styling" required>Name
                <span class="required">*</span>
             </label>
             <input id="designation-input" type="input" placeholder="ENTER DESIGNATION" pInputText/>
        </div>
       
    </form>
</div>

<!-- <p-panel>
  
    <ng-template pTemplate="header">
      <div  class="col -md-6" style="text-align:left">
      <strong>CHANGE PASSWORD </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton  type="button" label="Back"  icon="pi pi-arrow-left" class=" p-button-sm" ></button>&nbsp;
      <button pButton  type="button" label="Save"  icon="pi pi-check" class=" p-button-sm" ></button>
   
  </div>
  </ng-template> 
  
  <div class="row">
  <div class="col-md-4">
    <h6 >Old Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="ENTER OLD PASSWORD"> 
  </div>
  
  <div class="col-md-4">
    <h6 >New Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="ENTER NEW PASSWORD"> 
  </div>
  <div class="col-md-4">
    <h6 >Confirm Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="CONFIRM PASSWORD"> 
  </div>
  </div>
  </p-panel> -->