.input-styling{
    padding:40px;
    
}

.create-container{
    color:rgb(3, 3, 3);
    padding:3px;
    padding-top:7px !important;
    background-color: rgb(255, 255, 255) ;
    margin:20px;
    font-size: smaller;
    border-radius: 6px;;
}
.icon{
    font-size: 10px;
    padding-right:5px;
}


