<div class="form-group create-container">
    <div style="padding-bottom: 20px;">
        <label > UPDATE PROFILE PHOTO</label>
        <button class="btn btn-primary" style="float: right;margin-right:5px; font-size: smaller;"><i class="pi pi-check icon"></i>SAVE</button>
    </div>
    
   <div >
    <form class="form-control form-styles cont  " >
        <div class="cont2 ">
         <label for="designation-input" class="input-styling" required>EmpID
             <span class="required">*</span>
          </label>
          <input id="designation-input" type="input" pInputText/>
        </div>
        <div  class="cont2">
         <label for="designation-input" class="input-styling" required>Photo
             <span class="required">*</span>
          </label>
          <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" [auto]="true" chooseLabel="Browse"></p-fileUpload>
         

        </div>
        
     </form>
   </div>
</div>