<p-panel  >
  <ng-template pTemplate="header" >
    <div  class="col -md-6" style="text-align:left">
    <strong>CREATE EMPLOYEES </strong>
  </div>
      <div class="col-sm-6" style="text-align:right">
      <button pButton type="button" label="Back"  icon=" pi pi-arrow-left" iconPos="left" class="p-button-sm " ></button>&nbsp;
      <button pButton type="button" label="Save" icon="pi pi-check" iconPos="left" class="p-button-sm"></button>

  </div>
  </ng-template> 
  <div class="row">
    
    <div class="col-md-4">
  <div class="col-12 md:col-4  ">
    <h6 >EmployeeID<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="ENTER EMPLOYEE ID"> 
    <br>
    <br>

    <h6 >Email<span class="after">*</span></h6>
    <input type="text" class="p-inputtext-sm" pInputText placeholder="ENTER EMAIL">
    <br>
    <br>

    <h6 >DesignationID<span class="after">*</span></h6>
   
    <p-dropdown  [showClear]="true" placeholder="Select Designation"></p-dropdown>
    <br>
    <br>

    <p-checkbox name="group1" value="IsActive" inputId="any" ></p-checkbox>
    <label for="any">IsActive<span class="after">*</span></label>

</div>
</div>
<div class="col-md-4">
<div class="col-12 md:col-4">
  <h6 >FirstName<span class="after">*</span></h6>
  <input type="text" pInputText class="p-inputtext-sm"  placeholder="ENTER FIRSTNAME"> 
  <br>
  <br>

  <h6 >PanNumber</h6>
  <input type="text"  class="p-inputtext-sm" pInputText placeholder="ENTER PAN NUMBER">
  <br>
  <br>

  <h6 >ShiftId<span class="after">*</span></h6>
  <p-dropdown   [showClear]="true" placeholder="Select Shift"></p-dropdown>
  </div>
</div>
<div class="col-md-4">
<div class="col-12 md:col-4  ">
  <h6 >LastName<span class="after">*</span></h6>
  <input type="text"  class="p-inputtext-sm" pInputText placeholder="ENTER LASTNAME"> 
  <br>
  <br>

  <h6 >Password<span class="after">*</span></h6>
  <input type="text"  class="p-inputtext-sm" pInputText placeholder="ENTER PASSWORD">
  <br>
  <br>

  <h6 >DOJ<span class="after">*</span></h6>
  <input type="text"  class="p-inputtext-sm" pInputText placeholder="DD/MM/YYYY"> 
</div>
</div>

</div>

</p-panel>