 .nav-content{
    display: flex;
    justify-content: space-evenly;
    
} 


.bottom-content{
    padding-top: 10px;
    margin: 10px;
}
.left{
    /* display: flex;
    float:right;
    justify-content: space-evenly; */
    display: contents;
}


.mat-toolbar.mat-primary {
    background: #495cc5;
    color: #fff;
}

footer {
    background-color: #c0c0c0;
    min-height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px;
}