<div class="edit-bank-container">
    
    <div class="ebd-container">
        <div class="ebd-caption-content1">
            <h1 class="ebd-title">UPDATE BANK DETAILS</h1>
        </div>
        <div class="ebd-buttons-container">
            <button class="creat-button"  routerLink="/navbar/bankDetails" > <i class="pi pi-arrow-left"></i> Back</button>
            <button class="creat-button"> <i class="pi pi-check"></i> Save</button>
        </div>
    </div>

    <div class="ebd-contnt-container">
       <div class="input-container">
        <label for="EmpId" class="label">EmpId <span class="empClass">*</span></label>
        <input type="text" id="EmpId" class="input-fields"/>
       </div>

       <div class="input-container">
        <label for="accno" class="label">ACCNO </label>
        <input type="text" id="accno" class="input-fields"/>
       </div>

       <div class="input-container">
        <label for="accname" class="label">ACCNAME</label>
        <input type="text" id="accname" class="input-fields"/>
       </div>

       <div class="input-container">
        <label for="bankname" class="label">BankName</label>
        <input type="text" id="bankname" class="input-fields disabledButton" disabled value="Kotak mahindra"/>
       </div>
    </div>

    
</div>


