<div>
    <form formgroup ="loginform" (ngsubmit)="onSubmit()">
        <p-card   [style]="{width: '360px'}" styleClass="shadow-2" >
            <ng-template pTemplate="header">
               
              <h1> SIGN IN</h1>
            </ng-template>
        
            <div class="p-col-12 p-md-4">
                <label>Username</label>
                <div class="p-inputgroup">
                  <input type="text" pInputText placeholder="Username" formControlName="username"  [ngClass]="{ 'is-invalid': submitted  }">         
                </div>
            </div>
            <br>
            <div class="p-col-12 p-md-4">
                <label>password</label>

                <div class="p-inputgroup">
                  
                    <input type="text" pInputText placeholder="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted }">   
                         
                </div>
            </div>
          <br>
          <button pButton pRipple type="button"  [routerLink]="['/navbar']" label="login" class="p-button-rounded p-button-info"></button>
        </p-card>
        </form>
    
</div>

   

  