<div class="main" [style.background-image]="'url(/assets/image1.avif)'">
  <div class="head ">

    <div class="nav-left">
      <h2> <img src="http://www.kodecorp.com/KodeCorp/uploads/2020/08/Logo.png" width="300px" height="100px"> </h2>
    </div>


  </div>


  <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <p-card [style]="{width: '360px'}" styleClass="shadow-2">
      <ng-template pTemplate="header">

        <h1 class="card" [style.background-image]="'url(/assets/images2.jfif)'"> SIGN IN </h1>
      </ng-template>

      <div class="p-col-12 p-md-4">
        <label>Username</label>
        <div class="p-inputgroup">
          <input type="text" class="form-control" pInputText  placeholder="Username" [(ngModel)]="form.username" required
            #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
        </div>
      </div>
      <br>
      <div class="p-col-12 p-md-4">
        <label>Password</label>

        <div class="p-inputgroup">

          <input type="text" class="form-control" pInputText placeholder="Password" [(ngModel)]="form.password" required
            minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>

        </div>
      </div>
      <br>
      <div class="links">
        <div class="p-field-checkbox">
          <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
          <label for="ny">Remember Me</label>
        </div>
        <div>
          <a class="txt1" [routerLink]="['/forgotpassword']">Forgot Password?</a>
        </div>

      </div>
      <br>
      <button pButton pRipple type="button" label="login" [routerLink]="['/navbar']" class="p-button-rounded p-button-info"></button>


      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </p-card>


  </form>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div>

</div> 

<!-- 
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div> -->