<!-- <div>
    <form [formGroup]="empForm" class="form-control form-styles cont  ">

        <div class="cont2 ">
            <label for="designation-input" class="input-styling" required>Old Password:
                <span class="required">*</span>
            </label>
            <p-dropdown [options]="names" placeholder="SELECT EMPLOYEE" optionLabel="name" [showClear]="true"
                formControlName="name"></p-dropdown>
        </div>
        <div class="cont2 ">
            <label for="designation-input" class="input-styling" required>Leave Type
                <span class="required">*</span>
            </label>
            <p-dropdown [options]="leaveTypes" placeholder="SELECT LEAVE TYPE" optionLabel="name"
                [showClear]="true" formControlName="name"></p-dropdown>
        </div>

        <div class="cont2">
            <label for="designation-input" class="input-styling" required>Year

            </label>
            <input id="designation-input" type="input" placeholder="YYYY" pInputText
                formControlName="LastRevisedDate" />
        </div>
      
    </form>



</div> -->


 <p-panel>
  
    <ng-template pTemplate="header">
      <div  class="col -md-6" style="text-align:left">
      <strong>CHANGE PASSWORD </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton  type="button" label="Back"  icon="pi pi-arrow-left" class=" p-button-sm" ></button>&nbsp;
      <button pButton  type="button" label="Save"  icon="pi pi-check" class=" p-button-sm" ></button>
   
  </div>
  </ng-template> 
  
  <div class="row">
  <div class="col-md-4">
    <h6 >Old Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="ENTER OLD PASSWORD"> 
  </div>
  
  <div class="col-md-4">
    <h6 >New Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="ENTER NEW PASSWORD"> 
  </div>
  <div class="col-md-4">
    <h6 >Confirm Password:<span class="after">*</span></h6>
    <input type="text" pInputText  class="p-inputtext-sm" placeholder="CONFIRM PASSWORD"> 
  </div>
  </div>
  </p-panel> 
