<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align:left">
      <strong>CREATE TAXTYPE </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton class="h-1rem" style="float: right; font-size: smaller;" routerLink="/navbar"><i
          class="pi pi-arrow-left icon"></i>BACK</button>
      <button pButton class="h-1rem" style="float: right;margin-right:5px; font-size: smaller;"><i
          class="pi pi-check icon"></i>SAVE</button>
    </div>
  </ng-template>
  <div class="row">
    <form class=" form-styles cont  ">
      <div>
        <label for="designation-input" class="input-styling" required>Type
          <span class="required">*</span>
        </label>
        <input id="designation-input" type="input" placeholder="ENTER TAXTYPE" pInputText formControlName="Salary" />
      </div>
    </form>
  </div>
</p-panel>