.cont{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon{
    font-size: 10px;
    padding-right:5px;
}
input{
    width:100%;
}

.create-container{
    color:white;
    padding:3px;
    padding-top:7px !important;
    background-color:  rgb(45, 45, 53);
    margin:20px;
    font-size: small;
  
}
.cont2{
    display:flex;
    flex-direction: column;
    margin:30px;
    margin-top:30px !important;
    margin-bottom: 30px !important;
    padding-bottom: 40px;
}


.form-container{
    background-color:  rgb(45, 45, 53);
    color:aliceblue;
    font-weight: 500;
    font-size: small;
    height:54px;
   

};