.password{
    background-size: cover;
    position: fixed; 
  top: 0; 
  left: 0; 
    
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}



.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button {
    font-family: Poppins-Regular;
    color: #ffffff;
    background: #9df63b;
    border: 1px solid #9df63b;
    padding: 5px;
    margin: 10px;
    width: 84px;
    height: 35px;
}

.form-control {
    font-family: Poppins-Regular;
    width: 50px;
    height: 38px;
    margin-top: 14px;
    border: 1px solid rgb(178, 178, 178);
    box-shadow: 0px 1px 4px 0px rgb(168 168 16);
    border-radius: 3px;
 }

 p-card {
    display: flex;
    justify-content:center ;
    padding: 10px;
    margin: 10px;
    
    }

    .login100-form-title-1 {
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        background-color: cornflowerblue;
    }
.p-button-rounded{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 82px;
    height: 34px;
    
}
label{
    font-family: Poppins-Bold;
}
.head{
   
    background-color: ghostwhite;

 /* position: fixed;
    width: 100%;  */
 }

 .nav-left h2 {
    font-size: 2rem;
    color: rgb(16, 133, 243);
    font-family: 'Ubuntu', sans-serif;
  
} 
.card{
    background-size: cover;
    background-position: center;
    padding: 60px 130px 52px 111px;
    font-family: Poppins-Bold;
        font-size: 25px;
        color:#2e2c2c;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: end;
        background-color: cornflowerblue;
} 